**Data Base:**
```
It is a set of several tables that create the database.
```

**Types of databases:**
1. Relational Data Base(SQL)
2. Non-Relational Data Base(No-SQL)

**Types of RDBMS Software:**

- My SQL
- SQL Server
- Sqlite
- Oracle
- Postgresql

**Types of No-RDBMS Software:**

- Mongo DB
- Fire Base

**SQL Commands:**

- DDL ---> Data Definition Language.
- DCL ---> Data Control Language.
- DML ---> Data Manipulate Language.
- TCL ---> Transaction Control Language.
- DQL ---> Data Query Language.

**Four Operators:**
1. C ---> Create
2. R ---> Read/ Retrieve
3. U ---> Update
4. D ---> Delete

**Data Types In SQL:**

- Integer
- Decimal
- Varchar or String
- Date
- Time Stamps
- Blob

**Key Types In SQL:**
1. Primary Key(PK)
2. Foreing Key(FK)
3. Composite Key(CK)
4. Super Key(SK)
5. Alternate Key(AK)

**Create Database:**
```
Create Database ---- ;
```

**For Use:**
```
Use --- ;
```

**Create Table:**
```
Create Table --- ( , , , );
```

 | ID  |  Name     | Age  | 
 |-----|-----------|------|
 |  1  | Sara      |  30  |
 |  2  | Maryam    |  25  |

**Insert Information:**
```
Insert Into --- Values
    ( ),
    ( ),
    ( );
```

**Select Information**
```
Select --- From --- ;
```

**Drop Table:**
```
Drop Table --- ;
```

**Drop Database:**
```
Drop Database --- ;
```